.Person {
    opacity: .6;
    width: 40vw;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    transform: scale(.98) ;
    text-align: center;;
    transform-origin: top left;
    padding:10px 0;
    transition: all .2s ease .1s;
}

.Person:hover{
    opacity: 1;
    box-shadow: 0 4px 4px #444;
    transform: scale(1) translateX(8px);
    cursor: pointer;
}